body{
  border:20px solid #bdc3c7;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 800px;
}
p{
}
.date{
  letter-spacing: 3px;
  color: #3498db;
  text-transform: uppercase;

}
h2{
  text-transform: uppercase;

}
.teges{
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}
